[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = ">=1.19"
scipy = "*"
pandas = "*"
matplotlib = "*"
jinja2 = "*"
pyyaml = "*"
ipython = "*"
django = ">=3.1"
sklearn = "*"
dotmap = "*"
colorama = "*"
ccdproc = "*"

[requires]
python_version = "3.8"
